  <!DOCTYPE html>
<div th:fragment="footer">

    <footer class="footer-07">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center"><br>
            <h2 class="footer-heading"><a href="#" class="logo">CitaTe</a></h2>
            <p class="menu">
              <a href="#">Home</a>
              <a href="#">Sobre Nosotros</a>
              <a href="#">Privacidad</a>
              <a href="#">Contacto</a>
            </p>
            <ul class="ftco-footer-social p-0">
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter" th:src="@{/img/facebook.png}"><span class="ion-logo-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook" th:src="@{/img/twitter.png}"><span class="ion-logo-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram" th:src="@{/img/instagram.png}"><span class="ion-logo-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <p class="copyright">
              Copyright 2023 All rights reserved | This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="/" target="_blank">CitaTe</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

</div>