<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Multi Step Registro</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="/webjars/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/CitaTe.css}">
    <link th:href="@{/nuevoestilo.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>



        function validate() {
            var output = true;
            $(".signup-error").html('');

            if ($("#usuario-field").css('display') != 'none') {
                if (!($("#email").val())) {
                    output = false;
                    $("#email-error").html("Name required!");
                }
                if (!($("#user-password").val())) {
                    output = false;
                    $("#password-error").html("Password required!");
                }

                if (!($("#confirm-password").val())) {
                    output = false;
                    $("#confirm-password-error").html("Confirm password required!");
                }

                if ($("#user-password").val() != $("#confirm-password").val()) {
                    output = false;
                    $("#confirm-password-error").html("Password not matched!");
                }
            }

            if ($("#cliente-field").css('display') != 'none') {
                if (!($("#telefono").val())) {
                    output = false;
                    $("#telefono-error").html("Telefono obligatorio!");
                }

                if (!($("#nombreCliente").val())) {
                    output = false;
                    $("#nombreCliente-error").html("nombreCliente obligatorio!");
                }
                if (!($("#apellido1Cliente").val())) {
                    output = false;
                    $("#apellido1Cliente-error").html("apellido1Cliente obligatorio!");
                }
                if (!($("#apellido2Cliente").val())) {
                    output = false;
                    $("#apellido2Cliente-error").html("apellido2Cliente obligatorio!");
                }
            }
            if ($("#empleado-field").css('display') != 'none') {
                if (!($("#nombreEmpleado").val())) {
                    output = false;
                    $("#nombreEmpleado-error").html("nombreEmpleado obligatorio!");
                }
                if (!($("#apellido1Empleado").val())) {
                    output = false;
                    $("#apellido1Empleado-error").html("apellido1Empleado obligatorio!");
                }
                if (!($("#apellido1Empleado").val())) {
                    output = false;
                    $("#apellido2Empleado-error").html("apellido1Empleado obligatorio!");
                }
            }
            if ($("#empleado-field").css('display') != 'none') {
                if (!($("#nombreEmpresa").val())) {
                    output = false;
                    $("#nombreEmpresa-error").html("nombreEmpresa obligatorio!");
                }
                if (!($("#cif").val())) {
                    output = false;
                    $("#cif-error").html("cif obligatorio!");
                }

            }
            return output;
        }

        $(document).ready(function() {
            $("#next").click(function() {
                console.log("Siguiente pestaña" );
                var output = validate();
                if (output === true) {
                    var current = $(".active");
                    var next = $(".active").next("li");
                    if (next.length > 0) {
                        $("#" + current.attr("id") + "-field").hide();
                        console.log("Siguiente pestaña:" + next.attr("id") )
                        $("#" + next.attr("id") + "-field").show();
                        $("#back").show();
                        $("#finish").hide();
                        $(".active").removeClass("active");
                        next.addClass("active");
                        if ($(".active").attr("id") == $("li").last().attr("id")) {
                            $("#next").hide();
                            $("#finish").show();
                        }
                    }
                }
            });

            $("#back").click(function() {
                var current = $(".active");
                var prev = $(".active").prev("li");
                if (prev.length > 0) {
                    $("#" + current.attr("id") + "-field").hide();
                    $("#" + prev.attr("id") + "-field").show();
                    $("#next").show();
                    $("#finish").hide();
                    $(".active").removeClass("active");
                    prev.addClass("active");
                    if ($(".active").attr("id") == $("li").first().attr("id")) {
                        $("#back").hide();
                    }
                }
            });

            $("input#finish").click(function(e) {
                var output = validate();
                var current = $(".active");

                if (output === true) {
                    return true;
                } else {
                    //prevent refresh
                    e.preventDefault();
                    $("#" + current.attr("id") + "-field").show();
                    $("#back").show();
                    $("#finish").show();
                }
            });
        });
    </script>

</head>
<body>

<!--Header-->

<div th:replace="~{fragmentos/headerRegistroEmpresa :: header}"></div>


<div class="container" style="min-height: 50%">



    <form th:object="${empresaDTO}" th:action="@{/empresas/altaEmpresa}" th:method="POST">


        <div id="usuario-field">
            <div class="modal-body text-center" id="registroempresass" >
                <label for="nombreEmpresa">Nombre de Empresa:</label><br>
                <input type="text" name="Nombre de Empresa" id="nombreEmpresa" th:field="${empresaDTO.nombreEmpresa}" required/> <br><br>

                <label for="nombreEmpresa">CIF:</label><br>
                <input type="text" name="cif" id="cif" th:field="${empresaDTO.cif}" required/> <br><br>

                <label for="email">Correo electrónico:</label><br>
                <input type="text" name="email" id="email" th:field="${usuarioDTO.email}" required><br><br>


                <label for="password">Contraseña:</label><br>
                <input type="password" name="password" id="password"  required/> <br><br>

                <label for="repetirpassword">Repita la contraseña:</label><br>
                <input type="password" name="repetirpassword" id="repetirpassword" th:field="${usuarioDTO.pass}" required/><br><br>


                <!--                        <label for="email">Teléfono:</label><br>-->
                <!--                        <input type="text" name="telefono" id="contacto" th:field="${empresaDTO.contacto}" required><br><br>-->

                <div class="mb-3">
                    <input type="hidden" class="form-control" id="activo" name="activo" th:field="${usuarioDTO.activo}">
                </div>

                <label for="NombreJefe">Nombre propietario: </label><br>
                <input type="text" name="nombreJefe" id="NombreJefe" th:field="${empleadoDTO.NombreEmpleado}" required/> <br><br>

                <label for="apellido1">Primer apellido: </label><br>
                <input type="text" name="apellido1" id="apellido1" th:field="${empleadoDTO.Apellido1Empleado}" required/> <br><br>

                <label for="apellido2">Segundo apellido: </label><br>
                <input type="text" name="apellido2" id="apellido2" th:field="${empleadoDTO.Apellido2Empleado}" required/> <br><br>




                <div style="display: inline-flex;">
                    <input type="checkbox" name="Terminosdeuso" id ="terminosdeuso" value="terminosdeuso" required style="margin-top: -20px;"  />
                    <label for="terminosdeuso"> &nbspHe leído y estoy de acuerdo con los <b>Terminos de uso</b></label><br/><br>
                </div><br>

                <input  class="btn btn-dark" type="submit" name="registrarse" value="Registrarse" /> <br><br>

                <button class="btn btn-dark" onclick="startSignIn()">Registrarse con Google</button><br><br>
            </div>
        </div>


        <div id="cliente-field" style="display: none;">
            <!--ESLOGAN-->
            <div class="row py-lg-5 border-bottom justify-content-center align-items-center text-center"
                 style="background-image: url('img/tijeras.jpg');" id="fotoytextop">
                <div class="col-lg-6 col-md-8 mx-auto" id="debajodelheader">
                    <h1 class="text-center">CitaTe</h1>
                    <p class="lead text-body-secondary text-center">Bienvenido/a a CitaTe</p>
                    <p th:text="${empresaDTO.nombreEmpresa}"></p>



                </div>
            </div><br><br>

            <!--BOTON SIGUIENTE PANTALLA-->
            <section>
                <div class="d-flex gap-2 justify-content-center py-5">
                    <button class="btn btn-dark d-inline-flex align-items-center text" type="button" id="configuracion"
                            data-bs-toggle="modal" data-bs-target="#configuracionModal">
                        <b>Configura tu negocio</b>
                        <svg class="bi ms-1" width="0" height="20">
                            <use xlink:href="#arrow-right-short"></use>
                        </svg>
                    </button>
                </div>
                <div class="modal fade" id="configuracionModal" tabindex="-1" aria-labelledby="configuracionModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="configuracionModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body"><!-- Contenido de la ventana emergente -->
                                <h1>Protección de datos</h1>

                                    <div style="display: inline-flex;">
                                        <input type="checkbox" name="Terminosdeuso1" id="terminosdeuso1" value="terminosdeuso1" required
                                               style="margin-top: -20px;" />
                                        <label for="terminosdeuso1"> &nbspAcepto las condiciones de uso y servicio</label><br /><br>
                                    </div>
                                    <div style="display: inline-flex;">
                                        <input type="checkbox" name="Terminosdeuso2" id="terminosdeuso2" value="terminosdeuso2" required
                                               style="margin-top: -20px;" />
                                        <label for="terminosdeuso2"> &nbspConsentimiento para recibir nuevas ofertas
                                            <b>(Opcional)</b></label><br /><br>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div id="empleado-field" style="display: none;">
            <section class="navegacion">
                <div class="progress" id="barradeprogreso">
                    <div class="progress-bar" role="progressbar" style=" width: 10%; background-color: #99D98C;"></div>
                </div>
                <h2 >QUE TIPO DE NEGOCIO LLEVAS</h2><br>

                    <div class="modal-body text-center" id="registroempresas" >
                        <label for="descripcion">Cuentanos un poco sobre tu empresa para que los cliente sapan como es tu negocio</label><br>
                        <input type="hidden" name="cif" th:value="${empresaDTO.cif}" />

                        <textarea  id="descripcion" name="textarea" rows="10" cols="50"th:field="${empresaDTO.descripcionEmpresa}" required/></textarea>


                    </div>





                    <H1> Que tipo de negocio llevas:</H1>
                    <div>
                        <input type="checkbox" name="barberia" id ="barberia" th:field="${empresaDTO.tipoNegocio}" value="barberia" style="margin-left: 20px"  />
                        <label for="barberia"> &nbspBarberia</label><br/><br>
                    </div>
                    <div >
                        <input type="checkbox" name="peluqueria" id ="peluqueria" th:field="${empresaDTO.tipoNegocio}" value="peluqueria" style="margin-left: 20px"   />
                        <label for="peluqueria"> &nbspPeluquería</label><br/><br>
                    </div>
                    <div >
                        <input type="checkbox" name="belleza" id ="belleza" th:field="${empresaDTO.tipoNegocio}" value="belleza" style="margin-left: 20px"   />
                        <label for="belleza"> &nbspSalón de belleza</label><br/><br>
                    </div>
                    <div>
                        <input type="checkbox" name="piel" id ="piel" th:field="${empresaDTO.tipoNegocio}" value="piel" style="margin-left: 20px"  />
                        <label for="piel"> &nbspCuidado de la piel</label><br/><br>
                    </div>
                    <div>
                        <input type="checkbox" name="otros" id ="otros" th:field="${empresaDTO.tipoNegocio}" value="otros"style="margin-left: 20px"  />
                        <label for="otros"> &nbspOtros</label><br/><br>
                    </div>
            </section>




        <div id="empresa-field" style="display: none;">

            <div class="text-center">

                <label class="col-6" for="calle">Provincia: </label>
                <input class="col-6" type="text" name="provincia" id="provincia" value="" size="20" th:field="${direccionDTO.provincia}"/><br><br>
            </div>
            <div class="text-center">
                <label class="col-6" for="calle">Ciudad: </label>
                <input class="col-6" type="text" name="ciudad" id="ciudad" value="" size="20" th:field="${direccionDTO.ciudad}"/><br><br>
            </div>
            <div class="text-center">
                <label class="col-6" for="calle">CP: </label>
                <input class="col-6" type="number" name="cp" id="cp" value="" size="20" th:field="${direccionDTO.codigoPostal}" /><br><br>
            </div>
            <div class="text-center">
                <label class="col-6" for="calle">Calle: </label>
                <input class="col-6" type="text" name="calle" id="calle" value="" size="20" th:field="${direccionDTO.calle}"/><br><br>
            </div>
            <div class="text-center">
                <label class="col-6" for="calle">Número: </label>
                <input class="col-6" type="number" name="numero" id="numero" value="" size="20" th:field="${direccionDTO.numero}" /><br><br>
            </div>

            <div class="text-center">
                <input  class="btn btn-dark" type="submit" name="registrarse" value="Continuar" /> <br><br>
            </div>

        </div>




<!--        <div id="empresa2-field" style="display: none;">-->

<!--            <h2 >QUE TIPO DE NEGOCIO LLEVAS</h2><br>-->
<!--            <div>-->
<!--                <label for="barberia"> &nbspBarberia</label><br/><br>-->
<!--                <input type="checkbox" name="barberia" id ="barberia" value="barberia"required style="margin-left: 20px"  />-->

<!--            </div>-->
<!--            <div >-->
<!--                <label for="peluqueria"> &nbspPeluquería</label><br/><br>-->
<!--                <input type="checkbox" name="peluqueria" id ="peluqueria" value="peluqueria"required style="margin-left: 20px"   />-->
<!--            </div>-->
<!--            <div >-->
<!--                <label for="belleza"> &nbspSalón de belleza</label><br/><br>-->
<!--                <input type="checkbox" name="belleza" id ="belleza" value="belleza"required style="margin-left: 20px"  />-->
<!--            </div>-->
<!--            <div>-->
<!--                <label for="piel"> &nbspCuidado de la piel</label><br/><br>-->
<!--                <input type="checkbox" name="piel" id ="piel" value="piel"required style="margin-left: 20px" />-->

<!--            </div>-->
<!--            <div>-->
<!--                <label for="otros"> &nbspOtros</label><br/><br>-->
<!--                <input type="checkbox" name="otros" id ="otros" value="otros"required style="margin-left: 20px"  />-->

<!--            </div>-->

<!--        </div>-->

<!--        <div id="empresa3-field" style="display: none;">-->

<!--            <div class="text-center">-->
<!--                <label class="col-6" for="calle">Provincia: </label>-->
<!--                <input class="col-6" type="text" name="provincia" id="provincia" value="" size="20" required  /><br><br>-->
<!--            </div>-->

<!--            <div class="text-center">-->
<!--                <label class="col-6" for="calle">Ciudad: </label>-->
<!--                <input class="col-6" type="text" name="ciudad" id="ciudad" value="" size="20" required  /><br><br>-->
<!--            </div>-->
<!--            <div class="text-center">-->
<!--                <label class="col-6" for="calle">CP: </label>-->
<!--                <input class="col-6" type="text" name="cp" id="cp" value="" size="20" required /><br><br>-->
<!--            </div>-->
<!--            <div class="text-center">-->
<!--                <label class="col-6" for="calle">Calle: </label>-->
<!--                <input class="col-6" type="text" name="calle" id="calle" value="" size="20" required /><br><br>-->
<!--            </div>-->
<!--            <div class="text-center">-->
<!--                <label class="col-6" for="calle">Número: </label>-->
<!--                <input class="col-6" type="text" name="numero" id="numero" value="" size="20" required /><br><br>-->
<!--            </div>-->
<!--        </div>-->


<!--        <div id="empresa4-field" style="display: none;">-->

<!--            <h2>MUESTRA TU LUGAR DE TRABAJO</h2> <br>-->

<!--            <div class="text-center">-->
<!--                <label for="archivo">Selecciona un archivo:</label><br><br>-->
<!--                <input type="file" name="file" id="archivo" />-->
<!--            </div><br>-->
<!--        </div>-->


<!--        <div id="empresa5-field" style="display: none;">-->

<!--            <h1>Catálogo de Servicios</h1>-->

<!--            <table class="table table-striped">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Nombre</th>-->
<!--                    <th>Precio</th>-->
<!--                    <th>Descripcion</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="catalogoDeServiciodto : ${entities}">-->
<!--                    <td th:text="${catalogoDeServiciodto.nombre}"></td>-->
<!--                    <td th:text="${catalogoDeServiciodto.precio}"></td>-->
<!--                    <td th:text="${catalogoDeServiciodto.descripcion}"></td>-->

<!--                    <td>-->
<!--                        <a th:href="@{/catalogoDeServicios/{id}(id=${catalogoDeServiciodto.id})}" class="btn btn-primary">Editar</a>-->
<!--                        <a th:href="@{/catalogoDeServicios/delete/{id}(id=${catalogoDeServiciodto.id})}" class="btn btn-danger">Eliminar</a>-->
<!--                    </td>-->

<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->

<!--            <h1>Editar Catalogo de Servicios</h1>-->

<!--            <form  method="POST" th:method="POST">-->

<!--                <div class="mb-3">-->
<!--                    <label for="nombre" class="form-label">Nombre del Servicio</label>-->
<!--                    <input type="text" class="form-control" id="nombre" name="Comentario" >-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="precio" class="form-label">Precio</label>-->
<!--                    <input type="text" class="form-control" id="precio" name="Puntuacion" >-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="precio" class="form-label">Descripción</label>-->
<!--                    <input type="text" class="form-control" id="precio2" name="Puntuacion" >-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary">Guardar</button>-->
<!--            </form>-->

<!--        </div>-->



<!--        <div id="empresa6-field" style="display: none;">-->

<!--            <h1>Empleados</h1>-->
<!--            <table class="table table-striped">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Nombre de Empleado</th>-->
<!--                    <th>Apellido 1</th>-->
<!--                    <th>Apellido 2</th>-->

<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="empleadodto : ${entities}">-->
<!--                    <td th:text="${empleadodto.nombreEmpleado}"></td>-->
<!--                    <td th:text="${empleadodto.apellido1Empleado}"></td>-->
<!--                    <td th:text="${empleadodto.apellido2Empleado}"></td>-->

<!--                    <td>-->
<!--                        <a th:href="@{/empleados/{id}(id=${empleadodto.id})}" class="btn btn-primary">Editar</a>-->
<!--                        <a th:href="@{/empleados/delete/{id}(id=${empleadodto.id})}" class="btn btn-danger">Eliminar</a>-->
<!--                    </td>-->
<!--                </tr>-->

<!--                </tbody>-->
<!--            </table>-->

<!--            <h2>Editar Empleado</h2>-->
<!--            <form th:object="${entity}"  method="POST" th:method="POST">-->

<!--                <input type="hidden" name="id" id="id" >-->

<!--                <div class="mb-3">-->
<!--                    <label for="nombre" class="form-label">Nombre</label>-->
<!--                    <input type="text" class="form-control" id="nombre1" name="nombre" >-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="apellido1" class="form-label">Apellido 1</label>-->
<!--                    <input type="text" class="form-control" id="apellido1" name="apellido1" >-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="apellido2" class="form-label">Apellido 1</label>-->
<!--                    <input type="text" class="form-control" id="apellido2" name="apellido2" >-->
<!--                </div>-->

<!--                <button type="submit" class="btn btn-primary">Guardar</button>-->
<!--            </form>-->

<!--        </div>-->


<!--        <div id="empresa7-field" style="display: none;">-->

<!--            <h1>Disponibilidad</h1>-->
<!--            <table class="table table-striped">-->
<!--                <thead>-->
<!--                <tr>-->

<!--                    <th>Hora inicio mañana</th>-->
<!--                    <th>Hora fin tarde</th>-->
<!--                    <th>Hora inicio tarde</th>-->
<!--                    <th>Hora fin tarde</th>-->

<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="disponibilidaddto : ${entities}">-->
<!--                    <td th:text="${disponibilidaddto.horaInicioManiana}"></td>-->
<!--                    <td th:text="${disponibilidaddto.horaFinManiana}"></td>-->
<!--                    <td th:text="${disponibilidaddto.horaInicioTarde}"></td>-->
<!--                    <td th:text="${disponibilidaddto.horaFinTarde}"></td>-->

<!--                    <td>-->
<!--                        <a th:href="@{/disponibilidades/{id}(id=${disponibilidaddto.id})}" class="btn btn-primary">Editar</a>-->
<!--                        <a th:href="@{/disponibilidades/delete/{id}(id=${disponibilidaddto.id})}" class="btn btn-danger">Eliminar</a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->



<!--            <h1>Editar Disponibilidad</h1>-->


<!--            <form  method="POST" th:method="POST">-->


<!--                <h2>HORARIO DE APERTURA</h2> <br>-->
<!--                <div>-->
<!--                    <label>Lunes</label>-->

<!--                    <input type="time" name="comienzo" id="comienzom1" >-->
<!--                    <input type="time" name="final" id="finalm1" >-->
<!--                    <input type="time" name="comienzo" id="comienzo1" >-->
<!--                    <input type="time" name="final" id="final1" >-->

<!--                </div><br>-->

<!--                <div>-->
<!--                    <label>Martes</label>-->

<!--                    <input type="time" name="comienzo" id="comienzom2" >-->
<!--                    <input type="time" name="final" id="finalm2" >-->
<!--                    <input type="time" name="comienzo" id="comienzo2" >-->
<!--                    <input type="time" name="final" id="final2" >-->

<!--                </div><br>-->

<!--                <div>-->
<!--                    <label>Miercoles</label>-->

<!--                    <input type="time" name="comienzo" id="comienzom3" >-->
<!--                    <input type="time" name="final" id="finalm3" >-->
<!--                    <input type="time" name="comienzo" id="comienzo3" >-->
<!--                    <input type="time" name="final" id="final3" >-->

<!--                </div><br>-->

<!--                <div>-->
<!--                    <label>Jueves</label>-->

<!--                    <input type="time" name="comienzo" id="comienzom4" >-->
<!--                    <input type="time" name="final" id="finalm4" >-->
<!--                    <input type="time" name="comienzo" id="comienzo4" >-->
<!--                    <input type="time" name="final" id="final4" >-->

<!--                </div><br>-->


<!--                <div>-->
<!--                    <label>Viernes</label>-->

<!--                    <input type="time" name="comienzo" id="comienzom5" >-->
<!--                    <input type="time" name="final" id="finalm5" >-->
<!--                    <input type="time" name="comienzo" id="comienzo5" >-->
<!--                    <input type="time" name="final" id="final5" >-->

<!--                </div><br>-->

<!--                <div>-->
<!--                    <label>Sábado</label>-->

<!--                    <input type="time" name="comienzo" id="comienzom6" >-->
<!--                    <input type="time" name="final" id="finalm6" >-->
<!--                    <input type="time" name="comienzo" id="comienzo6" >-->
<!--                    <input type="time" name="final" id="final6" >-->

<!--                </div><br>-->

<!--                <div>-->
<!--                    <label>Domingo</label>-->

<!--                    <input type="time" name="comienzo" id="comienzom7" >-->
<!--                    <input type="time" name="final" id="finalm7" >-->
<!--                    <input type="time" name="comienzo" id="comienzo7" >-->
<!--                    <input type="time" name="final" id="final7" >-->

<!--                </div><br>-->

<!--                <button type="submit" class="btn btn-primary">Guardar</button>-->

<!--            </form>-->

<!--        </div>-->


<!--        <div id="empresa8-field" style="display: none;">-->

<!--            <div class="row justify-content-center align-items-center" >-->
<!--                <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">-->
<!--                    <div class="card mb-4 mb-5 shadow-sm">-->
<!--                        <div class="card-header py-3">-->
<!--                            <h4 class="my-0 fw-normal">Plan Básico</h4>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h1 class="card-title pricing-card-title">0 euros<small class="text-body-secondary fw-light">/mo</small></h1>-->
<!--                            <ul class="list-unstyled mt-3 mb-4">-->
<!--                                <li>2 usuarios </li>-->
<!--                                <li>2 GB de almacenamiento</li>-->
<!--                                <li>Soporte gratuito</li>-->
<!--                                <li>Acceso al centro de ayuda</li>-->
<!--                            </ul>-->
<!--                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Accede</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">-->
<!--                    <div class="card mb-4 mb-5 shadow-sm">-->
<!--                        <div class="card-header py-3">-->
<!--                            <h4 class="my-0 fw-normal">Plan Intermedio</h4>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h1 class="card-title pricing-card-title">0 euros<small class="text-body-secondary fw-light">/mo</small></h1>-->
<!--                            <ul class="list-unstyled mt-3 mb-4">-->
<!--                                <li>5 usuarios</li>-->
<!--                                <li>5 GB de almacenamiento</li>-->
<!--                                <li>Soporte gratuito</li>-->
<!--                                <li>Acceso al centro de ayuda</li>-->
<!--                            </ul>-->
<!--                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Accede </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">-->
<!--                    <div class="card mb-4 mb-5 shadow-sm">-->
<!--                        <div class="card-header py-3">-->
<!--                            <h4 class="my-0 fw-normal">Plan Avanzado</h4>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h1 class="card-title pricing-card-title">0 euros<small class="text-body-secondary fw-light">/mo</small></h1>-->
<!--                            <ul class="list-unstyled mt-3 mb-4">-->
<!--                                <li>10 usuarios</li>-->
<!--                                <li>10 GB de almacenamiento</li>-->
<!--                                <li>Soporte gratuito</li>-->
<!--                                <li>Acceso al centro de ayuda</li>-->
<!--                            </ul>-->
<!--                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Accede</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--        </div>-->

<!--        <div id="empresa9-field" style="display: none;">-->

<!--            <div class="d-flex justify-content-center" >-->
<!--                <h1>El registro ha sido completado</h1>-->
<!--                <h6>suave suavesito vamo´al último pasito</h6>-->
<!--            </div> <br>-->


<!--            <div class="nav nav-pills text-center row">-->
<!--                <ul >-->
<!--                    <li class="nav-item"><a href="/" class="nav-link active" aria-current="page" >Home</a></li>-->
<!--                </ul><br>-->
<!--                <ul>-->
<!--                    <li class="nav-item"><a href="/perfil" class="nav-link active" aria-current="page" >Perfil</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="d-flex justify-content-center">-->
<!--                <img src="/CitaTe-desarollo/HTML/img/LOGO2.png" alt="logo2">-->
<!--            </div>-->

<!--        </div>-->


        <div>
            <input class="btnAction" type="button" name="back" id="back"
                   value="Back" style="display: none;"> <input
                class="btnAction" type="button" name="next" id="next" value="Next">

        </div>
        <div>
            <input class="btnAction" type="submit" name="finish" id="finish"
                   value="Finish" style="display: none;">
        </div>

    </form>
</div>
<!--Fooooterrrrr-->

<div th:replace="~{fragmentos/footer1 :: footer}"></div>

<!--Fooooterrrrr-->


<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>