<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{CitaTe.css}">

    <!--    <link rel="stylesheet" th:href="@{/css/CitaTe.css}">-->


    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link href="/webjars/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>





</head>
<body class="container">

<!--           Como meter img-->
<!--           th:src="@{/img/icon/icon-3.png}-->

           <!--Header-->

           <div th:replace="~{fragmentos/headerRegistro :: header}"></div>

           <!--Header-->
      
    <main>
        <section class="navegacion">
            <div class="progress" id="barradeprogreso">
                <div class="progress-bar" role="progressbar" style=" width: 10%; background-color: #99D98C;"></div>
            </div>
            <h2 >QUE TIPO DE NEGOCIO LLEVAS</h2><br>

            <form th:object="${empresaDTO}" th:action="@{/empresas/altaEmpresa}" th:method="POST">
                    <div class="modal-body text-center" id="registroempresas" >
                        <label for="descripcion">Descripcion Empresa:</label><br>
                        <input type="text" name="Nombre de Empresa" id="descripcion" th:field="${empresaDTO.descripcionEmpresa}" required/> <br><br>


                    </div>

                    <!--          ///////////        ARRASTRAMOS CAMPOS DE REGISTRO EMPRESA 2          //////////////-->
                    <div>
                        <input type="hidden" name="Nombre de Empresa" id="nombreEmpresa" th:field="${empresaDTO.nombreEmpresa}" >
                        <input type="hidden" name="cif" id="cif" th:field="${empresaDTO.cif}" />
                        <input type="hidden" name="email" id="email" th:field="${usuarioDTO.email}" >
                        <input type="hidden" name="password" id="password"  />
                        <input type="hidden" name="repetirpassword" id="repetirpassword" th:field="${usuarioDTO.pass}" />
                        <input type="hidden" name="nombreJefe" id="NombreJefe" th:field="${empleadoDTO.NombreEmpleado}" />
                        <input type="hidden" name="apellido1" id="apellido1" th:field="${empleadoDTO.Apellido1Empleado}" />
                        <input type="hidden" name="apellido2" id="apellido2" th:field="${empleadoDTO.Apellido2Empleado}" />
                    </div>
                    <!--    //////////////           //////////////              //////////////   ///////////-->



                <div>
                    <input type="checkbox" name="barberia" id ="barberia" value="barberia"required style="margin-left: 20px" th:field="${empleadoDTO.catalogoDeServicio}" />
                    <label for="barberia"> &nbspBarberia</label><br/><br>
                </div>
                <div >
                    <input type="checkbox" name="peluqueria" id ="peluqueria" value="peluqueria"required style="margin-left: 20px" th:field="${empleadoDTO.catalogoDeServicio}"  />
                    <label for="peluqueria"> &nbspPeluquería</label><br/><br>
                </div>
                <div >
                    <input type="checkbox" name="belleza" id ="belleza" value="belleza"required style="margin-left: 20px"  th:field="${empleadoDTO.catalogoDeServicio}" />
                    <label for="belleza"> &nbspSalón de belleza</label><br/><br>
                </div>
                <div>
                    <input type="checkbox" name="piel" id ="piel" value="piel"required style="margin-left: 20px" th:field="${empleadoDTO.catalogoDeServicio}"  />
                    <label for="piel"> &nbspCuidado de la piel</label><br/><br>
                </div>
                <div>
                    <input type="checkbox" name="otros" id ="otros" value="otros"required style="margin-left: 20px" th:field="${empleadoDTO.catalogoDeServicio}" />
                    <label for="otros"> &nbspOtros</label><br/><br>
                </div>
                <input  class="btn btn-dark" type="submit" name="registrarse" value="Continuar" /> <br><br>
            </section>
        </form>
    </main>

           <!--Fooooterrrrr-->

           <div th:replace="~{fragmentos/footer1 :: footer}"></div>

           <!--Fooooterrrrr-->

           <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>